
body {
    height: 100vh;
    
}

.current {
    font-size: 20px;
}
.stopwatch {
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.button {
    text-align: center;
}

button {
    height: 50px;
    width: 120px;
    font-size: 20px;
    

}

.input {
    margin: 10px;
    height: 45px;
    font-size: 20px;
}

.timer {
    margin: 100px 0px 10px 10px;
    font-size: 20px;
}   




